<div class='new-question-wrapper'>
    <%= link_to new_users_question_path do %>
      <%= fa_icon('pencil') %> Nauja pateiktis
    <% end %>
</div>



<div class="post-placeholders">

</div>

<div class="sidebar">
  <div class="nauja-apklausa">
    <%= link_to 'Nauja apklausa', new_poll_path %>
    <%= link_to 'Apklausos', polls_path %>
  </div>
  <div class="poll-wrapper">
  </div>
  <% unless @active_poll.nil? %>
    <div class='active-poll' data-id='<%= @active_poll.id %>'>
      <%= form_with(model: @active_poll, url: vote_poll_path, id: 'poll-vote-form') do |f| %>
        <div class='form-header'>
          <h4>Dabartinė apklausa</h4>
        </div>
        <div class="poll-options">
          <div class="poll-description">
            <!-- Poll title -->
            <%= f.label @active_poll.title %>
            <!-- Poll body -->
            <%= f.label @active_poll.body %>
          </div>
          <hr class="separator"></hr>
          <!-- Poll options -->
          <% @active_poll.poll_options.each do |o| %>
             <span>
               <%= f.radio_button '', o.title %>
               <%= o.title %>
             </span>
          <% end %>
        </div>
        <div class='form-submit-wrapper'>
          <%= f.submit 'Pateikti' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% #@questions.each do |question| %>
  <% #render partial: 'shared/question_small', locals: { question: question } %>
<% #end %>

<% #will_paginate @questions %>
