<div class='new-question-wrapper'>
    <%= link_to new_users_question_path do %>
      <%= fa_icon('pencil') %> Nauja pateiktis
    <% end %>
</div>



<div class="post-placeholders">

</div>

<div class="sidebar">
  <div class="nauja-apklausa">
    <%= link_to 'Nauja apklausa', new_poll_path %>
    <%= link_to 'Apklausos', polls_path %>
  </div>
  <div class="poll-wrapper">
  </div>
  <% unless @active_poll.nil? %>
    <div class='active-poll'>
      <h4>Dabartinė apklausa</h4>
      <form id='poll-form' action='/vote_poll'>
        <div class='poll-area'>
          <div class='poll-description'>
            <h5><%= @active_poll.title %></h5>
            <p><%= @active_poll.body %></p>
          </div>
          <div class='poll-options'>
            <ol>
            <% @active_poll.poll_options.each do |o| %>
              <li>
                <input type='radio' name='gender' value='<%= o.title %>'>
                <%= o.title %>
              </li>
            <% end %>
            </ol>
          </div>
        </div>
      </form>
    </div>
  <% end %>
</div>

<% #@questions.each do |question| %>
  <% #render partial: 'shared/question_small', locals: { question: question } %>
<% #end %>

<% #will_paginate @questions %>
