<%= form_with(model: @poll, url: create_poll_path, id: 'poll-form', local: true) do |f| %>
  <div class='form-header'>
    <h2>Nauja apklausa</h2>
  </div>
  <div class="poll-options">
    <div class="poll-description">
      <!-- Poll title -->
      <%= f.label 'Apklausos antraštė' %>
      <%= f.text_field :title, class: 'poll-title-text' %>
      <!-- Poll body -->
      <%= f.label 'Apklausos aprašymas' %>
      <%= f.text_area :body, class: 'poll-body-text' %>
    </div>
    <%= f.hidden_field :poll_options_string, id: 'poll-data' %>
    <!-- Poll data -->
    <h4 style="text-align: center;">Apklausos duomenys</h4>
    <div class="poll-option">
      <input type="text" class="poll-option-text">
      <button type='button' class='add-option'>+</button>
      <button type='button' class='delete-option'>x</button>
    </div>
  </div>
  <div class='form-submit-wrapper'>
    <%= f.submit 'Pateikti' %>
  </div>

<% end %>
